* {
    font-family:  'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: fixed;
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.navbar-link {
    text-decoration: none;
    font-weight: bold;
}

.navbar-link:visited {
    color: black;
}

.navbar-link:hover, .navbar-link:active {
    color: #688D8B;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 40px;
    background-color: transparent;
}

.content-head {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 55px;
    letter-spacing: 3px;
    font-weight: bolder;
}

.content-body {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-element {
    float: right;
}

.navbar-link {
    display: block;
    padding: 20px;
}